{% extends 'base.html' %}
{% load static %}

{% block title %}Handbook{% endblock %}

{% block content %}

{% include 'Side_Navbar.html' %}
<div class="content-wrapper">

  <!-- Page Header -->
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb bg-light px-3 py-2">
              <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
              <li class="breadcrumb-item active" aria-current="page">Learning Video</li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="content-header pt-0">
      <div class="row">
        <div class="col-12 m-auto">
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">
                <b>Learning Video</b>
              </h3>
            </div>
            <div class="card-body container">
              <!-- For Project Management -->
              <div class="row mb-4">
                <div class="col-sm-12">
                  <div class="card-header">
                    <h3 class="card-title">Project Management</h3>
                  </div>
                  <div class="card-body">
                    <div class="row">
                      <div class="col-sm-12 col-md-6 col-lg-4">
                        <a href="#" target="_blank">
                          <div class="card text-center font-weight-bold">
                            <img src="{% static 'img/photo1.png' %}" class="card-img-top" style="border:1px solid;padding:10px;">
                            <div class="card-body">
                              Add Project
                            </div>
                          </div>
                        </a>
                      </div>
                      <div class="col-sm-12 col-md-6 col-lg-4">
                        <a href="#" target="_blank">
                          <div class="card text-center font-weight-bold">
                            <img src="{% static 'img/photo2.png' %}" class="card-img-top" style="border:1px solid;padding:10px;">
                            <div class="card-body">
                              Add Project
                            </div>
                          </div>
                        </a>
                      </div>
                      <div class="col-sm-12 col-md-6 col-lg-4">
                        <a href="#" target="_blank">
                          <div class="card text-center font-weight-bold">
                            <img src="{% static 'img/photo3.jpg' %}" class="card-img-top" style="border:1px solid;padding:10px;">
                            <div class="card-body">
                              Add Project
                            </div>
                          </div>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <!-- For Timesheet -->
              <div class="row mb-4">
                <div class="col-sm-12">
                  <div class="card-header">
                    <h3 class="card-title">Timesheet Management</h3>
                  </div>
                  <div class="card-body">
                    <div class="row">
                      <div class="col-sm-12 col-md-6 col-lg-4">
                        <a href="#" target="_blank">
                          <div class="card text-center font-weight-bold">
                            <img src="{% static 'img/photo4.jpg' %}" class="card-img-top" style="border:1px solid;padding:10px;">
                            <div class="card-body">
                              Timesheet Video
                            </div>
                          </div>
                        </a>
                      </div>
                      <div class="col-sm-12 col-md-6 col-lg-4">
                        <a href="#" target="_blank">
                          <div class="card text-center font-weight-bold">
                            <img src="{% static 'img/prod-1.jpg' %}" class="card-img-top" style="border:1px solid;padding:10px;">
                            <div class="card-body">
                              Timesheet Video
                            </div>
                          </div>
                        </a>
                      </div>
                      <div class="col-sm-12 col-md-6 col-lg-4">
                        <a href="#" target="_blank">
                          <div class="card text-center font-weight-bold">
                            <img src="{% static 'img/prod-2.jpg' %}" class="card-img-top" style="border:1px solid;padding:10px;">
                            <div class="card-body">
                              Timesheet Video
                            </div>
                          </div>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <!-- For Leave Management -->
              <div class="row mb-4">
                <div class="col-sm-12">
                  <div class="card-header">
                    <h3 class="card-title">Leave Management</h3>
                  </div>
                  <div class="card-body">
                    <div class="row">
                      <div class="col-sm-12 col-md-6 col-lg-4">
                        <a href="#" target="_blank">
                          <div class="card text-center font-weight-bold">
                            <img src="{% static 'img/prod-3.jpg' %}" class="card-img-top" style="border:1px solid;padding:10px;">
                            <div class="card-body">
                              Leave Video
                            </div>
                          </div>
                        </a>
                      </div>
                      <div class="col-sm-12 col-md-6 col-lg-4">
                        <a href="#" target="_blank">
                          <div class="card text-center font-weight-bold">
                            <img src="{% static 'img/prod-4.jpg' %}" class="card-img-top" style="border:1px solid;padding:10px;">
                            <div class="card-body">
                              Leave Video
                            </div>
                          </div>
                        </a>
                      </div>
                      <div class="col-sm-12 col-md-6 col-lg-4">
                        <a href="#" target="_blank">
                          <div class="card text-center font-weight-bold">
                            <img src="{% static 'img/prod-5.jpg' %}" class="card-img-top" style="border:1px solid;padding:10px;">
                            <div class="card-body">
                              Leave Video
                            </div>
                          </div>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div> <!-- End card-body -->
          </div> <!-- End card -->
        </div>
      </div>
    </div>
  </section>

</div>
{% endblock %}
